@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --backgroundcolor: hsl(213, 9%, 39%);
}

body {
  box-sizing: border-box;
  margin: 0px auto;
}

.head1 {
  background-color: #37c3f1;
  background-size: cover;
}

header {
  display: flex;
  padding: 5px auto;
  justify-content: space-between;
  width: 100%;
}

.heading {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 25px;
  color: white;
  margin-left: 10px;
}

nav {
  width: 100%;
  align-content: space-between;
  margin: 0 0 0 55%;
  font-family: "Barlow";
  font-weight: 300;
  font-size: 16px;
  color: white;
}

.list {
  text-align: right;
  list-style: none;
  display: flex;
  margin-top: 30px;
}

li {
  padding: 10px auto;
  border-radius: 2px;
  margin-right: 20px;
  margin-left: 20px;
}

.header img {
  position: relative;
  margin-left: 12%;
  margin-right: 12%;
  z-index: 1;
  margin-bottom: -5px;
}

.p1 {
  position: absolute;
  font-family: "Fraunces";
  letter-spacing: 7px;
  font-weight: 900;
  font-size: 50px;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  z-index: 2;
  left: 28%;
}

.arrow img {
  position: absolute;
  margin-left: 50%;
  z-index: 2;
  top: 45%;
}
.head2,
.head3,
.head4 {
  position: relative;
  display: flex;
}

.p2,
.p3,
.p4,
.p5 {
  width: 50%;
}
.a1 {
  margin-top: 100px;
  margin-left: 150px;
  width: 300px;
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 35px;
}
.content {
  margin-left: 150px;
  width: 300px;
  font-family: "Barlow";
  color: grey;
  font-weight: 100;
  font-size: 18px;
}

.learn {
  margin-left: 150px;
  margin-top: 20px;
  width: 300px;
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 18px;
}
.learn a {
  color: black;
  text-decoration: underline solid yellow;
}

.image {
  position: relative;
  z-index: 1;
}

.con {
  text-align: center;
  z-index: 2;
  position: absolute;
  width: 40%;
  top: 300px;
  margin-left: 60px;
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;
  color: rgb(92, 85, 85);
}
.a2 {
  z-index: 2;
  position: absolute;
  width: 50%;
  top: 250px;
  text-align: center;
  font-family: "Fraunces";
  font-size: 30px;
  color: rgb(66, 60, 60);
}

.clients {
  margin-top: 120px;
  width: 100%;
  margin-bottom: 120px;
}
.card {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  width: 80%;
}

.chead {
  font-family: "Frauncus";
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: rgb(122, 122, 122);
  letter-spacing: 5px;
  margin-bottom: 40px;
}
.cl {
  margin-left: 10px;
  margin-right: 10px;
}

.ccon {
  margin-top: 20px;
  font-family: "Barlow";
  font-size: 16px;
  color: rgb(102, 102, 102);
  font-weight: 600;
}
.name {
  margin-top: 80px;
  font-family: "Fraunces";
  font-weight: 800;
  font-size: 16px;
}
.res {
  font-family: "Barlow";
  font-weight: 200;
  font-size: 15px;
  color: rgb(167, 151, 151);
}

.photos {
  display: flex;
}
.ph {
  height: 500px;
  width: 25%;
}

.f {
  padding-top: 40px;
  text-align: center;
  background-color: #79dbbf;
  padding-bottom: 20px;
}
.foot {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 30px;
  color: #1d9153;
}
.foot_list {
  color: #1d9153;
  margin-top: 50px;
  list-style: none;
  text-align: center;
  display: flex;
  font-family: "Barlow";
  justify-content: center;
}
.foot_list li {
  margin-left: 40px;
  margin-right: 40px;
}

.icon {
  margin-top: 80px;
}

.icon img {
  margin-left: 10px;
  margin-right: 10px;
}
